/* Universal(*) 會選擇所有元素，但不會被繼承。 */
* {
  /* background-color: pink; */
  margin: 0;
  padding: 0;
}

body {
  color: #444;
  font-family: sans-serif;

  border-top: 10px solid #1098ad;
}

.main-header {
  background-color: #f7f7f7;
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  /* shorthand
  first value for top and bottom
  second value for left and right */
  padding: 20px 40px;
  margin-bottom: 60px;
}

nav {
  font-size: 18px;
}

article {
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #f7f7f7;
  /* border是一個接受多個值的屬性，依序為width、style與color */
  /* border: 5px solid #1098ad;  */
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  /* padding-top: 50px;
  padding-bottom: 50px; */
  padding: 50px 0;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
  /* 兩個相鄰元素各自設定的margin是會相交的，而不是相加，稱為margin collapse
  在這個例子可以觀察h3和p的margin實際上的狀況 */
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5; /* 沒有單位，代表行高為字體大小x1.5 */
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}
/* .first-li {
  font-weight: bold;
} */
/* 可以用psudo-class讓css幫我們找出符合條件的元件 */
li:first-child {
  font-weight: bold;
}

li:last-child {
  margin-bottom: 0px;
}

/* 設定footer中的p的樣式 */
/* footer p {
  font-size: 16px;
} */
#copyright {
  font-size: 16px;
}
/* 設定article中的header中的p的樣式，
但這樣做會越來越複雜 */
/* article header p {
  font-style: italic;
} */
/* 改用id去選擇要設定的element
用"#"來選擇id */
#author {
  font-style: italic;
}
/* 用class選擇要設定的element
用“."來選擇class，
通常用class來為之後可能會用到的地方做準備，
而不會使用id */
.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related-list {
  list-style: none;
}

/* li:nth-child(odd) {
  color: red;
} */

/* 在article元件中的第一個子元件而且是p
這個會找不到符合條件的 */
article p:first-child {
  color: red;
}

/* Styling links
:link - 未訪問過的連結
:visited - 已訪問過的連結
:hover - 游標移到上方的時候
:active - 點擊時
這個不會影響到沒有href的a */
a:link,
a:visited {
  color: #1098ad;
  text-decoration: none;
}
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}
a:active {
  background-color: black;
  font-style: italic;
}

/* Resoving conflicts */
#copyright {
  color: red;
}
.copyright {
  color: blue;
}
.text {
  color: yellow;
}
footer p {
  color: green;
}
